* {
    box-sizing: border-box;
}
html {
    background: linear-gradient(to bottom, #fefef0, #3c2215);
}
.container { 
    margin
}
body {
    background: linear-gradient(to top, #fefef0, #3c2215);
    border-bottom: 5px double black;
    border-top: 5px double black;
}
.container{
    background-color: white; 
    border-top: 2px solid #080a0e;
    border-left: 2px solid #080a0e;
    border-right: 2px solid #080a0e;
}
ul {
    list-style: none;
    line-height: 100%;
}
li {
    display: inline-block;
    width: 33%;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 0;
}

#background-img {
    background-size: cover;
    width: 100%;
    height: auto;
}
#img-logo {
    width: 19%;
    height: auto;
    border-bottom-right-radius: 50%;
    border: 2px solid #080a0e;
}
.thumbnail{
    position: relative;
    border-bottom: 2px solid #080a0e;
}
.overlay h1 {
    font-family: "optima-regular";
    padding: 0px;
    font-size: 500%;
    letter-spacing: 11px;
    color: #fefef0;
}
.caption {
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
}
.overlay {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
}
footer{
    margin-top: 2px;
    padding: 8px;
    border-top: 2px solid black;
}
footer p {
    letter-spacing: 3px;
}

.blog-post{
    padding: 15px;
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
}
.form {
    padding-bottom: 15px;
    position: absolute;
    float: right;
    border-bottom: 1px dotted black;
}
label {
    display: inline;
}
nav {
    border-bottom: 2px double black;
}
div >h3{
 color: brown;
}

li a {
    font-size: 30px;
    font-family: "TrebuchetMS";
    color: brown;
}
a:hover {
    text-decoration: none;
}


