<div id="pony-list" class="favCtrl">
    <div ng-repeat="pony in ponies track by pony._id" id="pony-element">

        <form id="edit-input"ng-hide="!pony.editting">
            <input class= "edit-inputs"type="text" ng-model="pony.edittedName" placeholder= "Name">
            <input type="text" ng-model="pony.edittedImgUrl" placeholder="Image URL">
        </form>

        
            <div ng-hide="pony.editting">
            <h4 id="pony-title">{{pony.name}}</h4>
            <hr>
            <div id="titles">
                <h3>Posted by:</h3><span>{{pony.username}}</span>
            </div>
            
            <img id="pony-img"src="{{pony.imgUrl}}">
        </div>
        
        <div id="buttons">
            <button id="edit-btn"type="button" ng-click="editPony(pony); pony.editting = !pony.editting">Edit</button>
        <button id="delete-btn"type="button" ng-click ="deletePony(pony._id, pony)">Delete</button>
        </div>


    </div>

</div>