.container{
    height: 100vh;
}
.row {
    bottom: 0;
}
.col-xs-12 {
    padding: 20px;
}
h1 {
    font-size: 50px;
    letter-spacing: 2px;
    flex-wrap: wrap;
    display:block;
}
body {
    background-image: url(images/test.jpg);
    background-size: cover;
}
